
# My first **Jupyter Notebook** from class

lala

# Python Basics

Data Science  
TECNUN - Escuela de Ingenier√≠a  
Universidad de Navarra

- Idoia Ochoa Alvarez: iochoal@unav.es

Linking our Google Drive folder with the Jupyter Notebook.

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# Change this to your path
path = '/content/drive/MyDrive/courses/master_AI_DS/PythonIntroduccionPythonResueltos'

## 0- Hello, world!

Before getting into the subject, let's start with the line of code that everyone begins with.

The `print()` command displays on the screen whatever we pass to it as an argument. In this case, we want to see the text "Hello, world!" on the screen.

In [6]:
print("Hello, world")

Hello, world

Note that we can use either single or double quotes to work with strings.

## 1- Variable Types and Operators

### 1.1- Numeric Variables and Operators

Let's start with numeric variables. The most commonly used are integer (**int**) and floating-point (**float**) variables. With the former, we can represent whole numbers, and with the latter, any number with decimals.

In [7]:
integer = 1
floating = 1.0

With the `type()` function you can check the type of variable. It works for any type of variable! (not only numerical)

In [9]:
print(type(integer))
print(type(floating))

<class 'int'>
<class 'float'>

We can operate with both types of variables in the same way using the addition (**\+**), subtraction (**\-**), multiplication (**\***), and division (**\/**) operators. We must keep in mind that the result of any operation involving floating-point variables will be another floating-point variable. The result of any operation involving integer variables, on the other hand, will be another integer variable, except for division, which will be floating-point.

In [10]:
int1 = 4
int2 = 2
float1 = 1.0
float2 = 3.2

In [11]:
print(int1 + int2)

print('\n')
print(float1 + float2)

6


4.2

Python also allows mixing integer and floating-point variables in the same operation. In this case, the result will always be a floating-point variable.

In [12]:
print(int1 + float1)

5.0

There are three other operators that can be useful: exponentiation (**\*\***), integer division (**//**), and the remainder of the division (**%**). The result of these operations retains the nature of the variables we are operating with.

In [14]:
int1 = 4
int2 = 2
print(int1 ** int2)
print(int1 // int2)
print(int1 % int2)

16
2
0

In [ ]:
print(type(float2))

### 1.2- Character Strings and Operators

Character strings (strings) can be written with either single or double quotes.

In [15]:
h = "hola"
w = 'world'

In [16]:
print(type(h))

<class 'str'>

In the same way as with numeric variables, we can use the addition (**\+**) and multiplication (**\***) operators to work with strings. With the addition operator, we concatenate the strings we are "adding," while with the multiplication operator, we repeat the string as many times as the number it is multiplied by.

In [18]:
print(h + w)
print(3*h)

holaworld
holaholahola

You need to be very careful with the types of variables you are working with when performing these kinds of operations. Here's an example:

In [22]:
int_a = 2
str_a = "2"

print(int_a + int_a)
print(str_a + str_a)
# print(int_a + str_a)

4
22

Being able to use either single or double quotes to create strings makes it easier to include these symbols in the text.

In [23]:
print('He said, "Hello, how are you?"')
print("He said, 'Hello, how are you?'")

He said, "Hello, how are you?"
He said, 'Hello, how are you?'

Like other programming languages, Python allows you to access elements of a string. It's important to note that the first element of the string is located at position 0. This means strings in Python are zero-indexed.

In [27]:
# Example string
text = "Hello, World!"

# Accessing the first character
first_char = text[0]
print(first_char)  # Output: H

# Accessing the fifth character
fifth_char = text[4]
print(fifth_char)  # Output: o

# Accessing the last character
last_char = text[-1]
print(last_char)  # Output: !

# idex out of range
# random_char = text[20] # This will produce an error
# print(random_char)

H
o
!

### 1.3- Type Conversion of Variables

Using the functions `int()`, `float()`, and `str()`, one can convert variables from one type to another. However, one must be careful when converting floats to integers, or strings to integers or floats.

In [28]:
int1 = 1
print(type(int1))

<class 'int'>

In [31]:
str_int = str(int1) # This converts the integer to a string
print(type(str_int))
print(str_int)

<class 'str'>
1

Operator `input()`

In [32]:
name = input("what is your name?")

what is your name?idoia

In [33]:
print(name)

idoia

In [34]:
print(type(name))

<class 'str'>

In [35]:
number_fav = input("what is your favorite number?")

what is your favorite number?7

In [36]:
print(number_fav)

7

In [37]:
print(type(number_fav))

<class 'str'>

In [38]:
number_fav_int = int(number_fav)

In [40]:
print(type(number_fav_int))

<class 'int'>

### 1.4- Lists

Lists are a type of variable that can contain different variables of any type within them.

In [41]:
list1 = [1, 2, 3, 4]
list2 = [1.2, 3, 2.4]
list3 = ['hi', 'bye']

In [42]:
print(list3)

['hi', 'bye']

Lists can contain elements of different types.

In [43]:
list4 = [2.3, "hello", 23]

In the same way as with the elements of strings, you can access the elements of lists as follows:

In [45]:
print(list4[0])

2.3

### 1.5 Other variables

Without going into much detail, we will introduce three more types of variables: dictionaries, tuples, and sets.

- The key difference between the **tuples** and lists is that while the tuples are immutable objects the **lists** are mutable. This means that tuples cannot be changed while the lists can be modified.

- Tuples are more memory efficient than the lists.
When it comes to the time efficiency, tuples have a slight advantage over the lists especially when we consider lookup value.

- If you have data that should not change, you should choose tuple data type over lists.

- Sets (conjuntos) are a collection and there is no order.

In [47]:
# Tuple
tuple1 = (1, 2, 3)
list1 = [1,2,3]

In [48]:
# Set
set1 = {'a', 2, 3.0}
set2 = {'a', 2, 4.0}

In [50]:
# set1[0]

In [51]:
# AND operator (intersection)
print(set1 & set2)

{2, 'a'}

In [52]:
# OR operator (UNION)
print(set1|set2)

{2, 3.0, 4.0, 'a'}

In [53]:
# Elements of 'set1' minus elements of 'set2'
print(set1 - set2)

{3.0}

In [54]:
# Unique elements (elements that appear in only one of them)
print (set1 ^ set2)

{3.0, 4.0}

In [ ]:
# Dictionaries

In [55]:
dictionary = {'a':1, 2:'data science', 3.0:[2, 'b', 33.4]}

In [56]:
dictionary

{'a': 1, 2: 'data science', 3.0: [2, 'b', 33.4]}

In [57]:
print(dictionary['a'])

1

### 1.6- Slices of strings/lists

As we mentioned earlier, positions in strings and lists start from 0.

The `:` operator is used to obtain the values stored in more than one position of the array (slicing the array).

In [59]:
str1 = 'ABCDEFG' # 8 elements
list1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g'] # 8 elements

In [64]:
print(list1[1:4]) # You get positions 0, 1, 2 and 3 (the last one NOT)

['b', 'c', 'd', 'e', 'f', 'g']

In [62]:
print(list1[:4])

['a', 'b', 'c', 'd']

In [65]:
print(list1[3:]) # From position 3 to 'END'

['d', 'e', 'f', 'g']

In this case, even though we use `[0:4]`, we are extracting the elements stored in positions 0, 1, 2, and 3. It's very important to note that the first value (0) will be included, but not the last one.

Besides accessing arrays from the first element, we can also access them from the last using the `-` operator.

In [68]:
print(str1[-3:])

EFG

We can also extract elements at intervals, for example, those elements in even positions. To do this, we use the `:` operator again along with a third number that indicates the step.

In [70]:
print(str1[0:7:2]) # From 0 to 6 in steps of 2

ACEG

Finally, we can also reverse the array using the `-` operator.

In [71]:
print(str1[::-1])

GFEDCBA

## 2- Conditions and loops

Next, we will focus on creating conditions and loops. Unlike other programming languages, brakets or end statements are not used to determine what is included within the condition or loop. In Python, all of this is done through indentation.

### 2.1- Conditions

The general syntax is as follows:

INDENTATION!!!

In [72]:
a = 4

if a == 4:
  print('a is equal to 4')
elif a == 5:
  print('a is equal to 5')
else:
  print('a is not equal to 4 or 5')

a is equal to 4

The commands used for comparison are as follows:

- `==` and `!=` to check for equality or inequality, respectively.
- `>` and `<` to check if an element is strictly greater or strictly less than another, respectively.
- `>=` and `<=` to check if an element is greater than or equal to, or less than or equal to another, respectively.

If the condition is met, the comparison will return a boolean variable `True` and execute the lines corresponding to that condition. If, on the other hand, the condition is not satisfied, we will obtain a boolean variable `False` and the lines corresponding to the condition will not be executed.

If it is necessary to check if multiple conditions are met at the same time, the boolean operators `and` and `or` can be used.

In [74]:
a = 5.6
b = 1

if a == 4 and b == 1:
  print('a is equal to 4 and b is equal to 1')
elif a == 4 or b == 1:
  print('a is equal to 4 or b is equal to 1')

a is equal to 4 or b is equal to 1

Besides this type of verification, you can check if a list contains an item by using the **in** command.

In [77]:
list2 = ['a', 2, 4.0]

if 33 in list2:
  print('a is in the list')
else:
  print('that element is not in the list')

that element is not in the list

In the case of wanting to negate conditions, you can use the boolean operator **not**.

In [78]:
a = 2

if not a == 3:
  print('a is not equal to 3')

a is not equal to 3

As long as it makes sense, these operators can be used with any type of variables.

In [79]:
a = 'home'

if a == 'home':
  print('the variable is home')

the variable is home

### 2.2- Loops

#### 2.2.1- *for* loops

The general syntax is:

In [80]:
for i in range(0,3):
  print(i)

0
1
2

Note that `range(0, 3)` creates a succession of numbers from 0 to 2.

The `break` and `continue` commands can be very useful. The former ends the loop at the moment it is executed, and the latter ends the current iteration of the loop and moves on to the next one.

In [82]:
for i in range(0,10):
  print(i)
  if i == 5:
    print(i)
    break
  elif i == 3:
    print(i)
    continue

0
1
2
3
3
4
5
5

Just like with conditions, the variables we use as counters in loops do not have to be numeric.

In [85]:
a = ['a', 'b', 2.3, 0, 'e']
for i in range(0, len(a)):
  print(a[i])

a
b
2.3
0
e

In [86]:
a = ['a', 'b', 2.3, 0, 'e']
for i in a:
  print(i)

a
b
2.3
0
e

#### 2.2.2 *while* loops

The general syntax is:

In [87]:
i = 10

while i > 0:
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2
1

The `+=` operator increases the value of the variable `i` by the value written to its right in each iteration. Conversely, the `-=` operator decreases it.

Just like with `for` loops, the `break` and `continue` operators are valid in these loops.

In [89]:
i = 10

while i > 0:
  print(i)
  if i == 5:
    break
  i -= 1

10
9
8
7
6
5

## 3- Functions and methods

### 3.1- Create Functions

As an example, let's create a function that operates with two numbers, returning both their sum and difference. The syntax is as follows:

In [97]:
def operate(num1, num2):
  sum = num1 + num2
  substract = num1 - num2
  return sum, substract

It is important that the output variables are defined by the return statement; they are not included in the function definition. If the function we have created does not contain any output arguments, the return operator is not used.

To call the function, we would only need to write the following:

In [99]:
int1 = 3
int2 = 1
# a = operate(int1, int2)
# print(a)
a, b = operate(int1, int2)
print(a)
print(b)

4
2

### 3.2- Functions as objects

A peculiarity of Python is that it allows you to operate with functions as objects. For example, in the following lines of code, we store the function `operate` that we just created in the variable `add_substract` and use it from there.

In [100]:
def print_operate(func, x, y):
  func_sum, func_substract = func(x, y)
  print(func_sum)
  print(func_substract)
  # there is no RETURN here since I am just printing

Additionally, functions can be used as input variables for other functions.

In [101]:
print_operate(operate, int1, int2)

4
2

In this concept of using functions as arguments for other functions lies the foundation of the Functional Programming paradigm, where Lambda functions can be used. For now, we will not delve deeper into this topic.

### 3.3- Functions and Methods

Python contains several functions that allow us to operate with different variables. For example, we can calculate the number of elements in a list, the maximum value, etc.

In [103]:
list1 = [1, 2, 4, 6, 90]
print(len(list1))
print(max(list1))
print(min(list1))

5
90
1

Apart from this, variables in Python have, by default, certain functions assigned to them that vary depending on the type of variable we are using. These functions are called methods, following the Object-Oriented Programming paradigm. Let's look at a few examples:

In [104]:
int1 = 5
print(int1.bit_length())

3

In [105]:
float1 = 2.3
print(float1.is_integer())

False

By using the `help()` function, you can access the documentation and usage information for different objects and methods in Python, which is very helpful for understanding how to use them effectively. It is used in the following way:

In [107]:
# To get help on a specific data type or method
help(str)  # Provides information about string methods
# help(list)  # Provides information about list methods
# help(dict)  # Provides information about dictionary methods

# # To get help on a specific method
# help(list.append)  # Provides information on the append method for lists

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if all characters in the string are printable, False otherwise.
 |
 |      A character is printable if repr() may use it in its output.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [108]:
string1 = "Data Science"
print(string1.find('a'))
print(string1.endswith('ce'))

1
True

In [109]:
list1 = ['a', 'b', 'a']

In [110]:
print(list1.index('b'))

1

### 3.4- Importing Custom Modules and Function

There are modules that have been created for different purposes. We will use them later on, but first, we need to load them into our working environment. There are different options for doing this:

In [111]:
import numpy

This way, we are loading the `numpy` module, which is used for working with vectors, matrices, etc.

In [112]:
import numpy as np

In this case, we are loading the `pandas` module and labeling it as `pd` so that when we need to use functions from this module, we can access them by writing `pd` instead of `pandas`.

In [114]:
import pandas as pd

In [115]:
from matplotlib import pyplot

With the above statement, we are loading only the `pyplot` function from the `matplotlib` module.

If we want to access functions that we have in separate `.py` files, we will use the same syntax. For example:

In [116]:
import sys
sys.path.append('/content/drive/MyDrive/courses/master_AI_DS/Python/IntroduccionPythonResueltos')

Another way to use functions is by defining them at the beginning of the `.py` file that we are going to execute.

For example, you can define a function directly in your script like this:

In [122]:
from funcionesDEMO import suma

In [118]:
print(suma(2,3))

5

In [119]:
import funcionesDEMO as fD

In [120]:
print(fD.suma(2,3))
print(fD.resta(2,3))

5
-1

## 4- Comprehension lists, `all()` and `any()`

List comprehensions are used to, for example, apply the same function to all elements of a list. The syntax is as follows:


                                           [<do this> for <element> in <list>]

To convert the elements of a list of strings to numbers using a list comprehension, you can use the following approach. This example assumes that the strings represent valid numbers:

In [126]:
# List of strings
str_numbers = ["1", "2", "3", "4", "5"]

# Convert each string to an integer
int_numbers = [int(num) for num in str_numbers]

print(int_numbers)
print(type(int_numbers[0]))

# Convert each string to a float (if needed)
float_numbers = [float(num) for num in str_numbers]

print(float_numbers)
print(type(float_numbers[0]))

[1, 2, 3, 4, 5]
<class 'int'>
[1.0, 2.0, 3.0, 4.0, 5.0]
<class 'float'>

Conditions can also be taken into account when working with list comprehensions. This is done using the following expression:

                                   [<do this> for <element> in <list> if <condition>]

In [128]:
vector2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [129]:
# Compute the square of the numbers only if they are even
# output [4, 16, 36, 64, 100]
square_vector = [num**2 for num in vector2 if num % 2 == 0]
print(square_vector)

[4, 16, 36, 64, 100]

## 5- Text files

In this section, we will briefly introduce a way to perform reading and writing of text files.

First, we need to open the text file using the `open()` function. We will use the mode `"r"` (read) if we want to read the file, and the mode `"w"` (write) if we want to write to it.

In [130]:
path = '/content/drive/MyDrive/courses/master_AI_DS/Python/IntroduccionPythonResueltos/'

Read file.

In [132]:
fo = open(path + 'hw.txt', 'r')

In [133]:
# read the file
text = fo.read()

In [134]:
print(text)

Hello, world!

Since all we wanted to do was read the text file, we will now proceed to close it.

In [135]:
fo.close()

Next, we will create a new text file called "tmp.txt" where we will store the text we have read, repeated on 3 different lines.

In [ ]:
fo = open(path + 'tmp.txt', 'w')

In [ ]:
fo.write(text + '\n') # '\n' this is an Enter
fo.write(text + '\n')
fo.write(text + '\n')

In [136]:
fo.close()

In [ ]:
fo = open(path + 'tmp2.txt', 'w')
new_text = (text + '\n')*3
fo.write(new_text)
fo.close()