# Libraries

In [109]:
import os
import numpy as np
import pandas as pd
import warnings
import pylab as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import ElasticNetCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import explained_variance_score
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA

In [110]:
warnings.filterwarnings("ignore")

# Ex1 (3 points): 

- Read the dataset labtop_data
- Identify numerical variables
- Identify boolean variables and convert them into 0/1 variables
- Integrate numerical and 0/1 variables
- Delete variable with title 'product_ean'
- Delete columns with a percentage of NAs greater or equal than 25%
- With the resulting table, delete rows involving NAs.

In [111]:
df = pd.read_csv('labtop_data.csv')

df = df.replace({True: 1, False: 0})
df

,name,price_eur,display_inch,display_cm,display_resolution,display_ratio,weight_kg,height_mm,width_mm,depth_mm,...,keyboard_backlit,keyboard_numpad,has_webcam,has_bluetooth,bluetooth_version,wifi_standard,product_ean,product_sku,release_year,category
0,"Apple MacBook Air M1 256GB, Space grau",912.99,13.0,33.8,2560x1600,16:9,1.29,16.1,304.1,212.4,...,1,0,1,1,5.0,Wi-Fi 6 (802.11ax),1.942521e+11,MGN63D/A,2020.0,Notebooks
1,MSI Stealth 17 Studio A13VI-013 - Intel Core i...,4680.23,17.3,43.9,3840x2160,16:9,2.80,20.1,397.6,283.5,...,1,1,1,1,5.3,Wi-Fi 6E (802.11ax),4.711377e+12,0017P2-013,NaN,Notebooks
2,MSI Summit E14 FlipEvo A12MT-049 i7-1260P/16GB...,1651.12,14.0,35.6,2880x1800,NaN,1.60,17.9,314.0,227.5,...,1,0,1,1,5.2,Wi-Fi 6E (802.11ax),4.719073e+12,0014F1-049,NaN,Notebooks
3,Gigabyte GBT AORUS 15 9KF-E3DE383SH i5 W11 144Hz,1087.38,15.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,NaN,NaN,4.719332e+12,AORUS 15 9KF-E3DE383SH,NaN,Notebooks
4,Fujitsu Lifebook A3511 FHD i3-1115G4 8GB 256GB...,354.97,15.6,39.6,1920x1080,NaN,1.95,23.9,361.0,244.0,...,0,1,1,1,5.1,Wi-Fi 6E (802.11ax),4.065221e+12,FPC04902BS,NaN,Notebooks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,Apple Macbook PRO 16 M2 PRO 12C/19C 16GB RAM 5...,2729.64,16.2,41.1,3456x2234,NaN,2.15,16.8,355.7,248.1,...,1,0,1,1,5.3,Wi-Fi 6E (802.11ax),1.942533e+11,MNW83D/A,2023.0,Notebooks
760,Apple MacBook Air Z15T Apple M2 8C CPU/10C GPU...,2182.57,13.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,NaN,NaN,4.066582e+12,MLXX3D/A-Z08762971,NaN,Notebooks
761,Microsoft Notebook Surface Laptop Go 2 - i5/ 4...,803.79,12.4,31.5,1536x1024,3:2,1.13,15.7,278.2,206.2,...,1,0,1,1,5.1,Wi-Fi 6 (802.11ax),8.898429e+11,L1D-00005,NaN,Notebooks
762,LG Electronics GRAM 16T90Q-G.AP79G i7 W11P FHD...,1447.97,16.0,40.6,2560x1600,16:10,1.48,16.9,356.6,248.3,...,1,1,1,1,5.1,Wi-Fi 6E (802.11ax),8.806092e+12,16T90Q-G.AP79G,NaN,Notebooks
763,Lenovo ThinkPad X13 Yoga / Intel Core i5-1135G...,1187.74,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,NaN,NaN,1.963791e+11,20W8S06U00?ABVERKAUF,NaN,Notebooks

In [112]:
df.drop('product_ean', axis=1, inplace=True)

In [113]:
nrow = len(df)
sr_co = (df.isna().sum(axis=0)/nrow*100)
columnas = sr_co[sr_co < 25].index

In [114]:
df2 = df[list(columnas)]

In [115]:
df2.dropna(axis=0, inplace=True)

In [116]:
df2.reset_index(drop=True, inplace = True)

In [119]:
numeric_cols = df2.select_dtypes(include=[np.number]).columns
df2 = df2[numeric_cols]
df2

,price_eur,display_inch,display_cm,weight_kg,height_mm,width_mm,depth_mm,ram_memory,internal_storage_gb,battery_capacity_wh,psu_watts,has_touchscreen,keyboard_backlit,keyboard_numpad,has_webcam,has_bluetooth
0,912.99,13.0,33.8,1.29,16.1,304.1,212.4,8.0,256.0,49.9,30.0,0,1,0,1,1
1,4680.23,17.3,43.9,2.80,20.1,397.6,283.5,64.0,4.0,99.0,240.0,0,1,1,1,1
2,1651.12,14.0,35.6,1.60,17.9,314.0,227.5,16.0,1000.0,72.0,65.0,1,1,0,1,1
3,1997.16,14.0,35.6,1.12,15.4,315.6,222.5,16.0,512.0,57.0,65.0,0,1,0,1,1
4,1098.00,13.6,34.5,1.24,11.3,304.1,215.0,8.0,256.0,52.6,30.0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,6130.11,15.6,39.6,5.20,65.0,410.0,320.0,8.0,500.0,99.8,150.0,0,1,1,0,1
538,2300.02,13.3,33.8,0.99,16.9,308.6,209.0,32.0,1.0,64.0,65.0,1,1,0,1,1
539,1122.80,13.5,34.3,1.29,14.5,305.0,223.0,8.0,512.0,47.4,65.0,1,1,0,1,1
540,2729.64,16.2,41.1,2.15,16.8,355.7,248.1,16.0,512.0,100.0,140.0,0,1,0,1,1
541,803.79,12.4,31.5,1.13,15.7,278.2,206.2,4.0,128.0,41.0,39.0,1,1,0,1,1

# Ex2 (4 points): 

- Build an elastic net model to predict the price of computers
- Use 1/5 of data for training and 4/5 of data for test
- Use 5-folds CV to fix optimal parameters in the training process
- Use explained variance as a metric of the goodness of the fit
- Determine the most relevant features. 
- Note: consider scaling data.
- Plot an scatterplot with test and predicted outcome.
- Calculate the corrlation (spearman) between test and predicted outcome

Esta es la solución al examen de ese año. Hay un fallo en el modelo de Machine Learning.
La idea es intentar ver donde está el error (sin preguntar a ninguna IA)

In [120]:
Y= df2['price_eur']
X= df2.drop(['price_eur'], axis=1)

scaler = StandardScaler()
X = scaler.fit_transform(X)
mean = np.mean(Y)
std_dev = np.std(Y)
Y = (Y - mean) / std_dev

m = 11
l1 = np.linspace(0,1,m)
alphas = np.logspace(-5,5,11)

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=1/5, random_state=10)

m1 = ElasticNetCV(alphas=alphas, cv=5, random_state=0,
                          l1_ratio=l1).fit(X_train, Y_train)


ypred = m1.predict(X_train)

evar_train = explained_variance_score(Y_train, ypred)

ypred = m1.predict(X_test)
evar_test = explained_variance_score(Y_test, ypred)


print("Explained variance in training data is: ", evar_train)
print("Explained variance in test data is: ", evar_test)

betas = m1.coef_
n_features = sum(abs(betas)>0)
print("Number of features with ElasticNet: ", n_features)

Explained variance in training data is:  0.7587751391498991
Explained variance in test data is:  -12.755447629219253
Number of features with ElasticNet:  13

# Ex3 (3 points): 

- Apply K-means clustering without using price.
- To select the number of clusters, use the Silhouette index.
- Plot Silhouette index for different K values
- Consider the complexity of the solution to select K
- visualize groups with PCA